/* src/pages/Home/sections/HeroSection.module.css */
.heroSection {
    background-size: cover;
    background-position: center;
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    position: relative; 
  }
  
  .heroSection::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
  }
  
  .heroContent {
    z-index: 1; 
    padding: 20px;
  }
  
  .logo {
    max-width: 250px;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Adicione estilos para o botão  */
  /*
  .callToAction {
    background-color: #ff9900;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .callToAction:hover {
    background-color: #e68a00;
  }
  */